.orange-class {
  color: rgb(241, 180, 11);
}
.home-active {
  color: rgb(28, 190, 177);
}

header {
  margin: 0 1em;
  padding: 0.3em 0.5em;
  nav {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    #homelink {
      transition: 0.2s linear;
      margin-right: auto;
      font-size: 1.4rem;
      text-decoration: none;
      font-family: $header-font;
      font-weight: 700;
      &:visited {
        color: inherit;
      }
      &:hover {
        color: rgb(28, 190, 177);
      }
    }
    .nav_links {
      padding: 0.5rem 1rem;
      ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        padding: 0;
      }
    }
    li {
      font-family: $bodycopy-font;
      a {
        transition: 0.2s linear;
        color: inherit;
        text-decoration: none;
        &:visited {
          color: black;
        }
        &:hover {
          color: $bg-submit;
        }
      }
    }
  }
}

/*MEDIA QUERIES*/
@media (max-width: 600px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  #homelink {
    flex: 100%;
    text-align: center;
  }
}
